* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  a {
    text-decoration: none;
  }
  
  @font-face {
    font-family: Montserrat-Medium; /* Гарнитура шрифта */
    src: url(../fonts/Montserrat/Montserrat-Medium.ttf);
    
  }
  
  @font-face {
    font-family: Montserrat-SemiBold; /* Гарнитура шрифта */
    src: url(../fonts/Montserrat/Montserrat-SemiBold.ttf); /* Путь к файлу со шрифтом */
  }
  
  @font-face {
    font-family: Aclonica-Regular; /* Гарнитура шрифта */
    src: url(../fonts/Aclonica/Aclonica-Regular.ttf); /* Путь к файлу со шрифтом */
  }
  
  @font-face {
    font-family: Montserrat-Regular; /* Гарнитура шрифта */
    src: url(../fonts/Montserrat/Montserrat-Regular.ttf); /* Путь к файлу со шрифтом */
  }
  
  @font-face {
    font-family: Montserrat-LightItalic; /* Гарнитура шрифта */
    src: url(../fonts/Montserrat/Montserrat-LightItalic.ttf); /* Путь к файлу со шрифтом */
  }
  
  @font-face {
    font-family: Montserrat-Bold; /* Гарнитура шрифта */
    src: url(../fonts/Montserrat/Montserrat-Bold.ttf); /* Путь к файлу со шрифтом */
  }
  
  @font-face {
    font-family: Montserrat-Light; /* Гарнитура шрифта */
    src: url(../fonts/Montserrat/Montserrat-Light.ttf); /* Путь к файлу со шрифтом */
  }
  
  @font-face {
    font-family: Montserrat-SemiBold; /* Гарнитура шрифта */
    src: url(../fonts/Montserrat/Montserrat-SemiBold.ttf); /* Путь к файлу со шрифтом */
  }
  @font-face {
    font-family: Montserrat-Black; /* Гарнитура шрифта */
    src: url(../fonts/Montserrat/Montserrat-Black.ttf); /* Путь к файлу со шрифтом */
  }
  @font-face {
    font-family: Roboto-Regular; /* Гарнитура шрифта */
    src: url(../fonts/Roboto/Roboto-Regular.ttf); /* Путь к файлу со шрифтом */
  }

  @font-face {
    font-family: Roboto-Thin; /* Гарнитура шрифта */
    src: url(../fonts/Roboto/Roboto-Thin.ttf); /* Путь к файлу со шрифтом */
  }
  .main__request-container{
    width: 1510px;
    height: 690px;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around; */
    margin: 80px auto 0;
    background: linear-gradient(180deg, #E5F0FD 0%, #EEF3F9 100%);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 0px 3px;
    overflow: auto;
}

.main__request-container-title{
  font-family: Montserrat-SemiBold;
  width: 100%;
  font-size: 15px;
  color: #0B1E61;
  text-align: left;
  padding: 15px 0 25px 170px;
}

.main__request-message-wrapper{
    /* width: 1150px; */
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    margin-left: 50px;
    margin-top: 25px;
}

.main__request-container-img{
    width: 90px;
    height: 80px;
    text-align: center;
}

.main__request-img{
  width: 60px;
  height: 60px;
 border-radius: 50%;
 background-color: #7081BE;
 margin: 0 auto;
 
}

.main__request-name-text{
  font-family: Montserrat-SemiBold;
  font-size: 12px;
  color: #0B1E61;
  margin-top: 5px;
}

.main__message-container-active{
  width: 775px;
  height: 80px;
  margin-left: 20px;
  background: linear-gradient(180deg, #F2F5FF 0%, #BCD4F8 100%);
  box-shadow: 0px 2px 2px #DAE0F5;
  border-radius: 3px;
}
.main__message-container{
  width: 775px;
  height: 80px;
  margin-left: 20px;
  background: linear-gradient(180deg, #FBFCFF 0%, #FBFBFB 100%);
box-shadow: 0px 2px 2px #DAE0F5;
border-radius: 3px;
}
.main__message-data-text{
  font-family: Roboto-Thin;
  font-size: 14px;
  color: #08174E;
  margin-top: 5px;
  margin-left: 18px;
}

.main__message-text{
  font-family: Roboto-Regular;
  font-size: 16px;
  text-align: left;
  color: #0B1E61;
  width: 650px;
  margin-top: 5px;
  margin-left: 18px;
}

.main__message-file-text{
  font-family: Montserrat-Black;
  font-size: 12px;
  color: #0B1E61;
  margin: 10px 0 0 680px;
}

.main__request-status{
  width: 45px;
  height: 45px;
  background: linear-gradient(180deg, #BECFE4 0%, #9EC0EC 100%);
  border-radius: 8px;
  margin: 17px 5px 0 24px;
  border-radius: 10px;  
}

.main__request-status-circle{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin: 10px auto;
}
.main__request-status-circle-green{
  background: #ABFC00;
  box-shadow: 0px 1px 2px rgba(24, 68, 4, 0.25);
}
.main__request-status-circle-yellow{
  background: #FAFF00;
box-shadow: 0px 1px 2px rgba(24, 68, 4, 0.25);
}
.main__request-status-circle-red{
  background: #F70000;
box-shadow: 0px 1px 2px rgba(24, 68, 4, 0.25);
}
.main__request-status-container{
  padding: 5px 5px;
  width: 189px;
  height: 500px;
  margin-top: -50px;
  margin-left: 70px;
  /* text-align: center; */
  background: linear-gradient(180deg, #D4E6FD 0%, #B2D3FE 100%);
border: 0.5px solid #AABCFA;
box-sizing: border-box;
border-radius: 2px;
}
.main__request-status-container-all{
  margin: 20px 20px 0px 1px;
  width: 168px;
  height: 90px;
  padding: 5px 10px;
  position: relative;
  top: -50px;
  left: 100px;
}
.main__request-status-text{
  font-family: Montserrat-Bold;
  font-size: 16px;
  color: #051036;
  margin-top: 5px;
}

.main__request-status-text--weight{
  font-family: Roboto-Regular;
  font-size: 14px;
}