* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  a {
    text-decoration: none;
  }
  
  @font-face {
    font-family: Montserrat-Medium; /* Гарнитура шрифта */
    src: url(../fonts/Montserrat/Montserrat-Medium.ttf); /* Путь к файлу со шрифтом */
  }
  
  @font-face {
    font-family: Montserrat-SemiBold; /* Гарнитура шрифта */
    src: url(../fonts/Montserrat/Montserrat-SemiBold.ttf); /* Путь к файлу со шрифтом */
  }
  
  @font-face {
    font-family: Aclonica-Regular; /* Гарнитура шрифта */
    src: url(../fonts/Aclonica/Aclonica-Regular.ttf); /* Путь к файлу со шрифтом */
  }
  
  @font-face {
    font-family: Montserrat-Regular; /* Гарнитура шрифта */
    src: url(../fonts/Montserrat/Montserrat-Regular.ttf); /* Путь к файлу со шрифтом */
  }
  
  @font-face {
    font-family: Montserrat-LightItalic; /* Гарнитура шрифта */
    src: url(../fonts/Montserrat/Montserrat-LightItalic.ttf); /* Путь к файлу со шрифтом */
  }
  
  @font-face {
    font-family: Montserrat-Bold; /* Гарнитура шрифта */
    src: url(../fonts/Montserrat/Montserrat-Bold.ttf); /* Путь к файлу со шрифтом */
  }
  
  @font-face {
    font-family: Montserrat-Light; /* Гарнитура шрифта */
    src: url(../fonts/Montserrat/Montserrat-Light.ttf); /* Путь к файлу со шрифтом */
  }
  
  @font-face {
    font-family: Montserrat-SemiBold; /* Гарнитура шрифта */
    src: url(../fonts/Montserrat/Montserrat-SemiBold.ttf); /* Путь к файлу со шрифтом */
  }


  .thead__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    
  }
  
.first-table {
border: 1px solid #CED6F2;
max-width: 1684px;
border-collapse: collapse;
/* margin: 70px 40px 40px 200px; */
text-align: center;
} 
.second-table{
  border: 1px solid #CED6F2;
max-width: 660px;
border-collapse: collapse;
margin-top: 100px;
text-align: center;
align-self: flex-start;
margin-left: 200px;
}
th {
    border: 1px solid #CED6F2;
}

td {
    border: 1px solid #CED6F2;
    padding: 10px 20px;
    font-family: Montserrat-Regular;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    /* line-height: 21px; */
    color: #283965;
    background: #F5F7FD;
    

}
.thead__td-color{
    font-family: Montserrat-Bold;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;

}
.thead__td-color_light{
    background: linear-gradient(180deg, #A0B2F1 0%, #0F2162 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.thead__td-color_dark{
    background: linear-gradient(180deg, #6683E6 0%, #0F2162 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.td__color_light-blue{ 
background: linear-gradient(180deg, #AAC0F9 0%, #8AA8F5 100%);
border: 1px solid #8395D6;
}
.td__color_blue{
  background: linear-gradient(180deg, #5F80D5 0%, #4B71D2 100%);
border: 1px solid #294297;
color: white;
}


/* .td__subtitle{
    font-size: 22px;
    background: linear-gradient(180deg, #D2DAF5 0%, #C3C9DF 100%);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
} */
/* .td__subtitle span{
    font-family: Montserrat-Bold;
} */
.td__color_dark{
    background: #F1F4FF;
}

ul{
  list-style-type: none;
}
.hide_show ul{
  display: none;   
}
.hide_show:hover ul{
  display: block;   
  position:relative;
  width:100%; height:0px; 
  margin-top:0;
}


.thead__td-color-width{
width: 170px;
padding: 10px 0px;
}
.li-color{
  background: linear-gradient(180deg, #DDE4FF 0%, #7190FD 100%);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
color: #020F3D;
font-size: 13px;
display: flex;
justify-content: space-around;
width: 100%;
padding-top: 10px;


}
.li-color:hover{
  background: linear-gradient(180deg, #5F80D5 0%, #4B71D2 100%);
border: 1px solid #294297;
}
.li-color p{
  margin: 10px 0px;
}
.green-circle{
width: 15px;
height: 15px;
border-radius: 50%;
background-color: green;
margin: 10px 0px;
}
.yellow-circle{
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: yellow;
  margin: 10px 0px;
}
.red-circle{
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: red;
  margin: 10px 0px;
}